{% extends "bootstrap/base.html" %}

{% block html %}

    {% block head %}
        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Easy-Link-App</title>

            <!-- Bootstrap Core CSS -->
            <link href="/static/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="/static/css/blog-home.css" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        </head>
    {% endblock %}

    {% block body %}
        <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('signup') }}">SignUp</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <!-- Blog Entries Column -->
                <div class="col-md-8">

                    <h1 class="page-header">
                        EASY-LINK
                    </h1>

                    <!-- First Blog Post -->
                    <h2>
                        <a href="#">Title</a>
                    </h2>
                    {#                <p class="lead">#}
                    {#                    by <a href="index.php">Start Bootstrap</a>#}
                    {#                </p>#}
                    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>Authentic actually truffaut pitchfork 8-bit fam shabby chic butcher poutine tilde salvia. IPhone
                        narwhal hella distillery schlitz intelligentsia austin, venmo readymade bespoke four loko kale
                        chips pitchfork.</p>
                    <a class="btn btn-primary" href="#">Open Link <span
                            class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Second Blog Post -->
                    <h2>
                        <a href="#">Title</a>
                    </h2>
                    {#                <p class="lead">#}
                    {#                    by <a href="index.php">Start Bootstrap</a>#}
                    {#                </p>#}
                    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>Helvetica pitchfork hoodie heirloom hammock. Lyft quinoa kale chips, enamel pin pickled prism
                        before they sold out la croix listicle bushwick actually edison bulb echo park whatever
                        pinterest!</p>
                    <a class="btn btn-primary" href="#">Read More <span
                            class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Third Blog Post -->
                    <h2>
                        <a href="#">Title</a>
                    </h2>
                    {#                <p class="lead">#}
                    {#                    by <a href="index.php">Start Bootstrap</a>#}
                    {#                </p>#}
                    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>Sriracha gluten-free mumblecore, plaid neutra semiotics hot chicken paleo. Pour-over helvetica yr
                        flannel selfies fixie.</p>
                    <a class="btn btn-primary" href="#">Read More <span
                            class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>

                    <!-- Pager -->
                    <ul class="pager">
                        <li class="previous">
                            <a href="#">&larr; Older</a>
                        </li>
                        <li class="next">
                            <a href="#">Newer &rarr;</a>
                        </li>
                    </ul>

                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Well -->
                    <div class="well">
                        <h4>Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Search by Category -->
                    <div class="well">
                        <h4>Search by Category</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget -->
                    <div class="well">
                        <h4>Side Widget</h4>
                        <p>Pug everyday carry swag subway tile, ramps hoodie synth edison bulb tacos craft beer
                            dreamcatcher live-edge. Cray 3 wolf moon selfies actually tumeric vegan, pinterest lyft
                            literally prism bespoke. Raw denim jean shorts iPhone whatever plaid banjo.</p>
                    </div>

                </div>

            </div>
            <!-- /.row -->

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Easy-Link 2019</p>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </footer>

        </div>
        <!-- /.container -->

        {% block scripts %}
        <!-- jQuery -->
        <script src="/static/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        {% endblock %}

        </body>

    {% endblock %}

    </html>
{% endblock %}
